@font-face {
    font-family: gillsansbold;
    src: url(../fonts/GillSans-Bold.ttf);
}

@font-face {
    font-family: gillsanslight;
    src: url(../fonts/GillSans-Light.ttf);
}

@font-face {
    font-family: primanovacondensed;
    src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}

@media only screen and (max-width: 900px) {

    .contactContent{
        
    
    }

    .ImgInput{
        display: flex;
        flex-direction: column;

        input{
            margin-left: -70px;
            margin-top: 20px;
        }
        button{
           margin-left: 89px;
        }
    }

}


.contactContent{
    max-width: 80%;
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
    
    .header{
        margin-bottom: 20px;

        span{
            font-size: 30px;
            font-family: primanovacondensed;
            border-bottom: 2px black solid;
        }
    }
    .ImgInput{
        display: flex;
        .image{
            img{
                display: flex;
                width: 400px;
                height: 442px;
                object-fit: fill;
            }
        }
        .inputs{
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            input{
                width: 529px;
                height: 60px;
                margin-bottom: 10px;
                background-color: #F5F5F5;
                font-family: gillsansbold;

                ::placeholder{
                    margin-left: 8px;
                    
                }
               

               
            }
            .message{
                input{
                display: flex;
                width: 529px;
                height: 199px;

                ::placeholder{
                    margin-left: 8px;
                    display: flex;
    
                }
            }
        }
        .button{
            display: flex;
            justify-content: left;
            width: 529px;
            button{
              background-color: #79ADDC;
              border: none;
              width: 168px;
              height: 60px;
              font-family: gillsansbold;
              color: white;  
            }
            }
    }
}
.contact{
    display: flex;
    flex-direction: column;
    span{
        font-family: gillsansbold;
    }
}
}